<!-- Cargar archivos estáticos -->
{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo.png' %}" width="65" height="65" style="border-radius: 5px;">
            <div class="sidebar-brand-text mx-3">Dulce d' amour</div>
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Menu</div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'configuration' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuración</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Productos</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'nuevo_producto' %}">Nuevo Producto</a>
                <a class="collapse-item" href="{% url 'actualizar_producto' %}">Actualizar Productos</a>
                <a class="collapse-item" href="{% url 'productos' %}">Productos</a>
            </div>
        </div>
    </li>
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-users"></i>
            <span>Categorías</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'nueva_categoria' %}">Nueva Categoría</a>
                <a class="collapse-item" href="{% url 'editar_categorias'%}">Editar Categoría</a>
                <a class="collapse-item" href="{% url 'categorias' %}">Categorías</a>
            </div>
        </div>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="{% url 'gestionar_usuarios' %}">
            <i class="fas fa-user"></i>
            <span>Usuarios</span>
        </a>
    </li>
</ul>