{% extends 'base.html' %}

{% block title %}Categoria{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Mostrar mensajes de éxito o error -->
    {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-lg-6 m-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Modificar Categoría
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="codigoCategoria">Código:</label>
                            <input type="text" class="form-control" id="codigoCategoria" name="codigoCategoria" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="nombreCategoria">Nombre:</label>
                            <input type="text" class="form-control" id="nombreCategoria" name="nombreCategoria" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <select class="form-control" name="estado" id="estado" required>
                                <option value="activo">Activo</option>
                                <option value="inactivo">Inactivo</option>
                            </select>
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Actualizar Categoría</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
