<!-- Cargar archivos estáticos -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Página para restablecer la contraseña">
  <meta name="author" content="Dulce d' amour">
  <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
  <title>Dulce d' amour - Restablecer Contraseña</title>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg">
          <div class="card-header text-center bg-white text-dark">
            <img class="img-thumbnail mb-2" src="{% static 'img/logo.png' %}" width="100">
            <h3>Restablecer Contraseña</h3>
          </div>
          <div class="card-body">
            <!-- Mostrar mensajes de error y éxito -->
            {% if messages %}
              {% for message in messages %}
                <div id="message-alert" class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show text-center mx-auto" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            <!-- Formulario de restablecimiento -->
            <form method="POST" action="{% url 'password_reset_request' %}">
              {% csrf_token %}
              <div class="form-group">
                <label class="small mb-1" for="email"><i class="fas fa-envelope"></i> Correo Electrónico</label>
                <input class="form-control py-4" id="email" name="email" type="email" placeholder="Ingrese su correo electrónico" aria-label="Correo Electrónico" required />
              </div>
              <div class="form-group d-flex align-items-center justify-content-center mt-4 mb-0">
                <button class="btn btn-primary" type="submit">Enviar enlace de restablecimiento</button>
              </div>
            </form>
            <div class="form-group text-center mt-3">
              <a href="{% url 'user_login' %}">Volver al inicio de sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Script para ocultar mensajes -->
  <script>
    setTimeout(function() {
      var alertBox = document.getElementById('message-alert');
      if (alertBox) {
        alertBox.style.display = 'none';
      }
    }, 10000);
  </script>
</body>
</html>
